@font-face {
  font-family: comfortaa;
  src: url(../fonts/Comfortaa/Comfortaa-Regular.ttf);
}

@font-face {
  font-family: poiret;
  src: url(../fonts/Poiret_One/PoiretOne-Regular.ttf);
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
}

.view-container {
  width: 80%;
  display: block;
  margin: auto;
}




/*///////////splash.html////////*/
#nav-contain {
  width: 45%;
  margin: 1% auto 2% auto;
  display: block;
  border-bottom: 4px double black;
}

#hex-contain1 {
  right: -18.5%;
  position: relative;
}

#hex-contain2 {
  margin: -12% auto 3% auto;
  left: -3%;
  position: relative;
}

.hex {
  width: 40%;
  display: inline-block;
  margin: 1%;
}

#contact-bar {
  width: 20%;
  display: block;
  margin: auto;
  color: #fff;
  padding: 4px;
  text-align: center;
}

.footer-icon {
  width: 30px;
  display: inline-block;
  margin: 0 5%;
}



/*////////////projects.html//////////*/
.project {
  margin: 2% auto;
}

.p-intro {
  font-family: comfortaa;
  text-align: center;
  font-size: 1em;
}



/*/////////////media queries///////*/
@media (max-width: 750px) {
	 #nav-contain {
		 width: 90%;
	 }

   #contact-bar {
     width: 60%;
     /*position: fixed;*/
   }
}
