<div class="nav-contain">
  <a href="#/home">
    HOME
  </a>

  <a href="#/about">
    ABOUT
  </a>

  <a href="#/work">
    WORK
  </a>

  <a href="#/art">
    ART
  </a>
</div>


<section class="view-container">

  <!-- <div id="my-portrait">
    <img src="http://placehold.it/250x250">
  </div> -->

  <div class="my-blurb">
    <h1>
      Hello, world.
    </h1>
    <br>
    <span>
      <p>
        I'm Xuan - a front-end developer from Detroit passionate about art, UX, and corgis.
      </p>

      </p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </span>
  </div>

</section>
