<div class="nav-contain">
  <a href="#/home">
    HOME
  </a>

  <a href="#/about">
    ABOUT
  </a>

  <a href="#/work">
    WORK
  </a>

  <a href="#/art">
    ART
  </a>
</div>



<section class="view-container">

PROJECTS

  <div class="project">
    <h1>TripSnip</h1>
    <p class="project-desc">
      A travel companion web application.
    </p>
    <p class="project-tech">
      Tech used:
    </p>
    <p class="project-date">
      December 2016
    </p>
  </div>

  <div class="project">
    <h1>Theater Seating Reservation App</h1>
    <p class="project-desc">
      For a fake theater.
    </p>
    <p class="project-tech">
      Tech used:
    </p>
    <p class="project-date">
      November 2016
    </p>
  </div>


  <div class="project">
    <h1>Theater Seating Reservation App</h1>
    <p class="project-desc">
      For a fake theater.
    </p>
    <p class="project-tech">
      Tech used:
    </p>
    <p class="project-date">
      November 2016
    </p>
  </div>


</section>
