<div id="nav-contain">
  <div id="hex-contain1">
    <img src="images/hex-logo.svg" class="hex hex-button1">
    <img src="images/hex-about.svg" class="hex hex-button1">
  </div>
  <div id="hex-contain2">
    <a href="#/work">
    <img src="images/hex-work.svg" class="hex hex-button2" id="img-work">
    </a>
    <a href="#/art">
    <img src="images/hex-art.svg" class="hex hex-button2" id="img-art">
    </a>
  </div>
</div>

<div id="contact-bar">
  <a href="https://www.linkedin.com/in/thexuanhuang">
    <img src="images/icons/linkedin.svg" class="footer-icon">
  </a>
  <a href="https://github.com/justxuit">
    <img src="images/icons/github.svg" class="footer-icon">
  </a>
  <a target="_top" href="mailto:email.xhuang@gmail.com">
    <img src="images/icons/email.svg" class="footer-icon">
  </a>
</div>



<!-- <p class="p-intro"><strong>Hello, world. I'm Xuan</strong> - a front-end developer from Detroit passionate about art, UX, and corgis.</p> -->
